body {
    background: #26f1ff;
    font-family: Tahoma, Arial, sans-serif;
}
.container1 {
    border: 5px solid black;
    margin: 8px;
    /* padding-top: px; */
}

.container2 {
    border: 5px solid black;
    margin: 8px;
}

.container3{
    border: 5px solid black;
    margin: 8px;
}

h1 {
    color: blueviolet;
    font: 32px Garamond, Helvetica, serif;
}

h2 {
    background:rgb(255, 15, 223)

}
#menu {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#submit {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#contact{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


table {
    width: 50%;
}

thead {
    text-align: left;
}

tr {
    background-color: white;
}

th {
    margin: auto;
    padding-left: 200px;
    padding-right: 68px;

}

label {
    display: block;
}

#rate {
    margin: auto;
    padding: 5px
}

#submit-btn {
    display: block;
    background-color: #fd3ccd;
    color:aliceblue;
}